@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-zinc-50 text-zinc-900;
  }
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-300;
}